html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background: #23242d;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

.grid {
  display: flex;
  margin-bottom: 20px;
}

.col-50 {
  flex: 1 0 50%;
}

.col-50:first-child {
  padding-right: 10px;
}

.col-50:last-child {
  padding-left: 10px;
}

.header {
  background: #2f303c;
  width: 100%;
  font-size: 25px;
  padding: 20px  10px;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  color: #ececec;
}

.header-inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .button {
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5px;
  background: #ffaa01;
}

.content {
  width: 1100px;
  margin: 0 auto;
}

.row-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  height: 40px;
}

.row-wrapper .label {
  margin-right: 20px;
  flex: 0 0 100px;
}

.field-value {
  flex: 1 0 50px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
}

.button {
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-right: 10px;
  background: none;
  font-size: 100%;
  border-radius: 3px;
  border: 2px solid #d3d3d3;
}

.button:focus,
.toggle:focus {
  outline: none;
}

.button-active {
  border-color: #ffaa01;
  color: #ffaa01;
}

.toggle-wrapper {
  margin: 20px 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  background: none;
  font-size: 100%;
  border-radius: 5px;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  flex: 1 0 33%;
}

.toggle-active {
  border-color: #2ecc71;
  color: #2ecc71;
}

.custom-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-color-slider {
  width: 100%;
}

.custom-color-preview {
  flex: 1 0 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 3px;
}

.crosshair-preview {
  cursor: none;
  width: 100%;
  background: url('../images/dust2.jpg');
  background-size: cover;
  height: 400px;
}

.rc-slider-track {
  background: #ffaa01!important;
}

.rc-slider-handle {
  border-color: #ffaa01!important;
}
.rc-slider-rail {
  background: #111217!important;
}

.rc-slider-disabled {
  background: transparent!important;
  opacity: .5;
}

.notification-bar {
  background: #ffaa01!important;
}
