@import "./styles/_defaults.css";

:global {
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background: var(--color-body);
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-default);
    font-weight: 400;
  }
}

.grid {
  display: flex;
  margin-bottom: 20px;
}

.col-50 {
  flex: 1 0 50%;
}

.col-50:first-child {
  padding-right: 10px;
}

.col-50:last-child {
  padding-left: 10px;
}

.content {
  width: 1100px;
  margin: 0 auto 50px auto;
}
